<div
  class="services-right-main"
  style="transform: translate(-152.32px, -761.6px) rotate(-10deg)"
>
  <div class="services-right-main-inner">
    <div class="row pic-container mx-0" aria-hidden="true">
      <div class="col-md-4 first-column p-0 bg-mobile-transperent">
        <div class="row m-0">
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/bhoj-onboard.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/bhoj-onboard.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/bhoj-onboard.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/e-learn.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/e-learn.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/e-learn.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/e-learning.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/e-learning.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/e-learning.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 second-column p-0">
        <div class="row m-0">
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/kidszoo.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/kidszoo.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/kidszoo.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/meditation.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/meditation.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/meditation.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/taxibooking.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/taxibooking.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/taxibooking.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/wealth-management.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/wealth-management.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/wealth-management.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 third-column p-0">
        <div class="row m-0">
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/finance.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/finance.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/finance.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/food.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/food.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/food.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
          <div class="col-md-12">
            <div class="img-big">
              <picture
                ><source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/webp/wealth-management.webp
                  "
                  type="image/webp" />
                <source
                  srcset="
                    https://www.mindinventory.com/img/service-page/mobile/png/wealth-management.png
                  "
                  type="image/png" />
                <img
                  width="180"
                  height="301"
                  src="https://www.mindinventory.com/img/service-page/mobile/webp/wealth-management.webp"
                  loading="lazy"
                  alt="Mobile app screen"
                  class="img-fluid"
              /></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
